body {
    background: fixed no-repeat url("sihteeritausta.jpg");
    background-size:cover;
    font-size: 18px;
    font-family: "Alef", sans-serif;
    margin: 0;
    text-align: center;
}
#moiccuheader{
    width: 100%;
    height: 5%;
    margin-top: 0;
    padding: 0;
    color: transparent;
}
#intro {
    position: center;
    margin-top: 5%;
    text-align: center;
    align-items: center;
}
#about {
    margin-top: 5%;
    text-align: center;
    align-items: center;
}
#tryme {
    position: relative;
    float: left;
    width: 10%;
}
.aboutUs {
    text-align: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.profilePic {
    float: left;
    width: 30%;
    height: 100%;
}
.profileText {
    padding-top: 7%;
    float: left;
    width: 69%;
    height: 40%;
}
.italic {
    font-style: italic;
}
.picture {
    height: 60%;
}
video {
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
button.active {
    background-color: #ccc;
}
